<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= actor.name %> </title>
    <link rel='stylesheet' href='/css/style.css' />

</head>
<body>
    
    <%- include('./partials/header') %> 
    <main class="detalle">
        <div class="caja_detalle">
            <h1 class="titulo_Detalle"><%= actor.first_name %> <%= actor.last_name %>  </h1>
            <p>First Name: <%= actor.first_name %> </p>
            <p>Last Name: <%= actor.last_name %> </p>
            <p>Rating: <%= actor.rating %> </p>
            <div class="caja_Boton">
                <a class="boton_Return" href="/actors/">Regresar</a>
            </div>
        </div>
    </main>
</body>
</html>